.root {
	-fx-background-size: 100% 100%;
}

Button{
 	-fx-background-color: none;
	-fx-border-color: none;
    -fx-text-fill: white ;
	-fx-font-size: 21pt;
	-fx-font-weight: bold;
}

Button:hover{
    -fx-text-fill: #ff7200;
    -fx-effect: dropshadow( gaussian , rgba(0.5,0.5,0.5,0.5) , 10,0,0,1 );
}

Label{
 	-fx-background-color: none;
	-fx-border-color: none;
    -fx-font-size: 14pt;
    -fx-text-fill: white ;
}

#title {
    -fx-font-size: 26pt;
    -fx-text-fill: red ;
    -fx-font-weight: bold;
   /* -fx-effect: dropshadow(three-pass-box, yellow, 10, 0, 0, 0);*/
}

#menu{
    -fx-background-image: url("../backgrounds/instructionsBackground.png");
}

#menulogo{
	 -fx-image: url("../logo/logo.png");
}

#settings{
    -fx-background-image: url("../backgrounds/instructionsBackground.png");
}

#pause{
    -fx-background-image: url("../backgrounds/instructionsBackground.png");
}

#backBtn {
	-fx-background-color:
        linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 20, 25;
    -fx-background-insets: 0, 1;
    -fx-text-fill: white;
	-fx-font-size: 14pt;
}

#settingsApplyBtn {
    -fx-background-color:
        linear-gradient(#00812a, #003411);
    -fx-background-radius: 20, 25;
    -fx-background-insets: 0, 1;
    -fx-text-fill: white;
	-fx-font-size: 14pt;
}